{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="{% static 'css/errors.css' %}" />
</head>
<body>
    <div id="theme-toggle"></div>
    <div class="user__error__container">
        <h1 class="error__status__title">404</h1>
        <h1 class="error__title">Page Not Found</h1>
        <p class="error__message">The requested page could not be found.</p>
    </div>
</body>
</html>
<script src="{% static 'js/themetoggler.js' %}"></script>
