{% load static %} {% load designation %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            PortrayalHub || Central hub for portraying your skills and projects
        </title>
        <meta
            name="description"
            content="Central hub for portraying your skills and projects"
        />

        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
        />

        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    </head>
    <body>
        <!-- ------------------------- Navigation ------------------------------------- -->
        <navigation> {% include 'navigation.html' %} </navigation>

        <!-- ------------------------- Home ------------------------------------- -->
        <section id="home">
            <div class="main">
                <div class="main__content">
                    {% for user in ResumeUpload %}
                    <h1>
                        I<span>'</span>M
                        <br />
                        {{ user.user_profile.first_name }}
                        <br />
                        {{ user.user_profile.last_name }}
                        <span>.</span>
                    </h1>

                    <div class="main__content__desc">
                        <desig1> {{ user.designation|desig:'first' }} </desig1>
                        {% if user.designation|desig:'second' %}
                        <desig2>
                            <span><b>&</b></span>
                            <br />
                            {{ user.designation|desig:'second' }}
                        </desig2>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

                <div class="main__img">
                    {% for user in ProfileImage %}
                    <img src="{{ user.image.url }}" alt="My Image" />
                    {% endfor %}
                </div>
            </div>
            <div class="social">
                <ul class="social__presence">
                    {% for socialProfile in SocialPlatforms %}
                    <li>
                        <a href="{{ socialProfile.profileUrl }}">
                            <img
                                src="{{ socialProfile.platformIcon.url }}"
                                alt="My Image"
                            />
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </body>
</html>
