{% load static %} {% load form_fields_toggle %} {% load form_instance %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% for user_profile in UserProfile %}
              {{user_profile.user.username | upper}}
            {% endfor %}
        </title>
        <meta
            name="description"
            content="Central hub for portraying your skills and projects"
        />
        <link
            href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    </head>
    <body>
        <div class="profile_container">
            <nav>
              <div class="sidebar">
                  <div class="logo-details">
                      <i class="icon">
                        {% for user in ProfileImage %}
                          <img src="{{ user.image.url }}" alt="My Image" />
                        {% endfor %}
                      </i>
                      <div class="logo_name">
                        {% for user_profile in UserProfile %}
                          {{user_profile.user.username}}
                        {% endfor %}
                      </div>
                      <i class="bx bx-menu" id="btn"></i>
                  </div>
                  <ul class="nav-list">
                      <li>
                          <a href="{% url 'userView' %}">
                              <i class="bx bx-grid-alt"></i>
                              <span class="links_name">Dashboard</span>
                          </a>
                          <span class="tooltip">Dashboard</span>
                      </li>
                      <li>
                          <a class="smoothscroll" href="#profile">
                              <i class="bx bx-user"></i>
                              <span class="links_name">Profile</span>
                          </a>
                          <span class="tooltip">Profile</span>
                      </li>
                      <li>
                          <a class="smoothscroll" href="#resume">
                              <i class="bx bx-folder"></i>
                              <span class="links_name">Resume</span>
                          </a>
                          <span class="tooltip">Resume</span>
                      </li>
                      <li>
                          <a class="smoothscroll" href="#social">
                              <i class="bx bx-message-alt-dots"></i>
                              <span class="links_name">Social Platforms</span>
                          </a>
                          <span class="tooltip">Social Platforms</span>
                      </li>
                      <li>
                          <a class="smoothscroll" href="#education">
                              <i class="bx bx-book-reader"></i>
                              <span class="links_name">Education</span>
                          </a>
                          <span class="tooltip">Education</span>
                      </li>
                      <li>
                          <a class="smoothscroll" href="#experience">
                              <i class="bx bx-id-card"></i>
                              <span class="links_name">Experience</span>
                          </a>
                          <span class="tooltip">Experience</span>
                      </li>
                      <li>
                          <a class="smoothscroll" href="#skills">
                              <i class="bx bx-shape-polygon"></i>
                              <span class="links_name">Skills</span>
                          </a>
                          <span class="tooltip">Skills</span>
                      </li>
                      <li>
                          <a class="smoothscroll" href="#projects">
                              <i class="bx bx-slideshow"></i>
                              <span class="links_name">Projects</span>
                          </a>
                          <span class="tooltip">Projects</span>
                      </li>
                      <li>
                        <a class="smoothscroll" href="#certificates">
                            <i class='bx bx-certification bx-spin bx-rotate-90' ></i>
                            <span class="links_name">Certificates</span>
                        </a>
                        <span class="tooltip">Certificates</span>
                      </li>
                      <li class="theme">
                        <a href="#" id="theme-toggle">
                            <i class='bx bx-color bx-tada bx-rotate-90' ></i>
                            <span class="links_name">Theme</span>
                        </a>
                        <span class="tooltip">Theme</span>
                    </li>
                      <li class="profile">
                        <a href="{% url 'logoutView' %}">
                          <div class="profile-details">
                              <i class="bx bx-export"></i>
                              <div class="name_job">
                                  <div class="name">Logout</div>
                              </div>
                          </div>
                          <i class="bx bx-log-out" id="log_out"></i>
                        </a>
                      </li>
                  </ul>
              </div>
              <div class="navbar">
                <i class="icon">
                  {% for user in ProfileImage %}
                    <img src="{{ user.image.url }}" alt="My Image" />
                  {% endfor %}
                </i>
                <div class="logo_name">
                  {% for user_profile in UserProfile %}
                    {{user_profile.user.username}}
                  {% endfor %}
                </div>
                <ul class="nav-list">
                    <li class="theme">
                      <a href="#" id="theme-toggle">
                          <i class='bx bx-color bx-tada bx-rotate-90' ></i>
                      </a>
                      <span class="tooltip">Theme</span>
                  </li>
                    <li class="profile">
                      <a href="{% url 'logoutView' %}">
                        <i class="bx bx-log-out" id="log_out"></i>
                      </a>
                      <span class="tooltip">Logout</span>
                    </li>
                </ul>
              </div>
            </nav>
            <section class="home-section">

              <div class='profile' id='profile'>
                <div class="content_heading">
                  <h1> My Profile </h1>
                  <a onclick="toggleUpdateProfile('profile_details', 'profile_details_edit_icon')" id='profile_details_edit_icon'>
                    <i class='bx bxs-edit'>
                      <span class="tooltip">edit</span>
                    </i>
                  </a>
                </div>
                <div class="profile_image">
                  <a onclick="toggleUpdateProfile('profile_image', 'profile_image_edit_icon')" id='profile_image_edit_icon'>
                    <i class='bx bxs-edit'>
                      <span class="tooltip">edit</span>
                    </i>
                  </a>
                  {% for user in ProfileImage %}
                    <img src="{{ user.image.url }}" alt="My Image" />
                  {% endfor %}
                  <div class="list_view"></div>
                  <div class="update_view">
                    {% include 'profile/update_form.html' with form=profile_image_form  form_action_url=user_profile_image_action_url %}
                  </div>
                </div>
                <div class="profile_details">
                  <div class="list_view">
                    <form class="user-profile-form">
                      {% csrf_token %}
                      {{ user_profile_form|add_disabled }}
                    </form>
                  </div>
                  <div class="update_view">
                      {% include 'profile/update_form.html' with form=user_profile_form  form_action_url=user_profile_action_url form_class='user-profile-form' %}
                  </div>
                </div>
              </div>

              <div class='resume' id='resume'>
                <div class="content_heading">
                  <h1> My Resume </h1>
                  <a onclick="toggleUpdateProfile('resume_details', 'resume_edit_icon')" id='resume_edit_icon'>
                    <i class='bx bxs-edit'>
                      <span class="tooltip">edit</span>
                    </i>
                  </a>
                </div>
                <div class="resume_details">
                  <div class="list_view">
                    <form class="resume_upload_form">
                      {% csrf_token %}
                      {{ resume_upload_form|add_disabled }}

                      {% for userResume in ResumeUpload %}
                        <p class="video_resume">
                          <label for="id_video_resume">Video Resume:</label>
                            <video controls>
                                <source src="{{ userResume.video_resume.url }}" type="video/mp4" />
                                Your browser does not support the video tag.
                            </video>
                        </p>
                        <p class="pdf_resume">
                          <label for="id_pdf_resume">Document Resume:</label>
                          <iframe src="{{ userResume.resume.url }}" frameborder="0">
                            Your browser does not support the iframe tag.
                          </iframe>
                        </p>
                      {% endfor %}
                    </form>
                  </div>
                  <div class="update_view">
                    {% include 'profile/update_form.html' with form=resume_upload_update_form  form_action_url=user_resume_upload_action_url form_class='resume_upload_form'%}
                  </div>
                </div>
              </div>

              <div class='social_platforms' id='social'>
                <div class="content_heading">
                  <h1> Social Platforms </h1>
                  <a onclick="toggleAddItem('social_items', 'social_edit_icon')" id='social_edit_icon'>
                    <i class='bx bxs-edit'>
                      <span class="tooltip">edit</span>
                    </i>
                  </a>
                </div>
                <div class="social_items">
                  {% for social in SocialPlatforms %}
                    <div class="social_details list_view">
                      <a onclick="toggleUpdateForm('social_items', {{social.id}})">
                        {{social.platformName}}
                      </a>
                      <div class="remove_item">
                        <a href = "{% url 'deleteSocialPlatformView' social.id %}">
                          <i class='bx bx-x'></i>
                        </a>
                      </div>
                    </div>
                    <div class="update_view" id="instance-{{social.id}}">
                      {% url 'updateSocialPlatformView' social.id as update_social_platform_action_url %}
                      {% with social_platforms_form|set_social_instance:social.id as updated_social_instance_form %}
                        {% include 'profile/update_form.html' with form=updated_social_instance_form form_action_url=update_social_platform_action_url form_class='social_platform_upload_form'%}
                      {% endwith %}
                    </div>
                  {% endfor %}
                  <div class="social_details add_item">
                    <a onclick="toggleCreateView('social_items')">
                      <i class='bx bx-plus-medical'>
                        <span class="tooltip">Add Profile</span>
                      </i>
                    </a>
                  </div>
                </div>
                <div class="social_items">
                  <div class="create_view">
                    {% include 'profile/update_form.html' with form=social_platforms_form  form_action_url=create_social_platform_action_url form_class='social_platform_upload_form'%}
                  </div>
                </div>
              </div>

              <div class='education' id='education'>
                <div class="content_heading">
                  <h1> Education </h1>
                  <a onclick="toggleAddItem('education_items', 'education_edit_icon')" id='education_edit_icon'>
                    <i class='bx bxs-edit'>
                      <span class="tooltip">edit</span>
                    </i>
                  </a>
                </div>
                <div class="education_items">
                  {% for education in EducationInfo %}
                    <div class="education_details list_view">
                      <a onclick="toggleUpdateForm('education_items', {{education.id}})">
                        <div class="education_degree">{{ education.degree }}</div>
                        <div class="education_university">{{ education.university }}</div>
                        <div class="education_year">{{ education.start_date }} - {{ education.end_date }}</div>
                        <div class="education_cgpa">CGPA - {{ education.cgpa }}</div>
                      </a>
                      <div class="remove_item">
                        <a href = "{% url 'deleteEducationInfoView' education.id %}">
                          <i class='bx bx-x'></i>
                        </a>
                      </div>
                    </div>
                    <div class="update_view" id="instance-{{education.id}}">
                      {% url 'updateEducationInfoView' education.id as update_education_info_action_url %}
                      {% with education_info_form|set_education_instance:education.id as updated_education_instance_form %}
                        {% include 'profile/update_form.html' with form=updated_education_instance_form form_action_url=update_education_info_action_url form_class='education_info_upload_form'%}
                      {% endwith %}
                    </div>
                  {% endfor %}
                  <div class="education_details add_item">
                    <a onclick="toggleCreateView('education_items')">
                      <i class='bx bx-plus-medical'>
                        <span class="tooltip">Add a new education</span>
                      </i>
                    </a>
                  </div>
                </div>
                <div class="education_items">
                  <div class="create_view">
                    {% include 'profile/update_form.html' with form=education_info_form  form_action_url=create_education_info_action_url form_class='education_info_upload_form'%}
                  </div>
                </div>
              </div>

              <div class='experience' id='experience'>
                <div class="content_heading">
                  <h1> Experience </h1>
                  <a onclick="toggleAddItem('experience_items', 'experience_edit_icon')" id='experience_edit_icon'>
                    <i class='bx bxs-edit'>
                      <span class="tooltip">edit</span>
                    </i>
                  </a>
                </div>
                <div class="experience_items">
                  {% for experience in ExperienceInfo %}
                    <div class="experience_details list_view">
                      <a onclick="toggleUpdateForm('experience_items', {{experience.id}})">
                        <div class="experience_company">{{ experience.company_name }}</div>
                        <div class="experience_designation">{{ experience.designation }}</div>
                        <div class="experience_year">{{ experience.start_date }} - {{ experience.end_date }}</div>
                      </a>
                      <div class="remove_item">
                        <a href = "{% url 'deleteExperienceInfoView' experience.id %}">
                          <i class='bx bx-x'></i>
                        </a>
                      </div>
                    </div>
                    <div class="update_view" id="instance-{{experience.id}}">
                      {% url 'updateExperienceInfoView' experience.id as update_experience_info_action_url %}
                      {% with experience_info_form|set_experience_instance:experience.id as updated_experience_instance_form %}
                        {% include 'profile/update_form.html' with form=updated_experience_instance_form form_action_url=update_experience_info_action_url form_class='experience_info_upload_form'%}
                      {% endwith %}
                    </div>
                  {% endfor %}
                  <div class="experience_details add_item">
                    <a onclick="toggleCreateView('experience_items')">
                      <i class='bx bx-plus-medical'>
                        <span class="tooltip">Add a new experience</span>
                      </i>
                    </a>
                  </div>
                </div>
                <div class="experience_items">
                  <div class="create_view">
                    {% include 'profile/update_form.html' with form=experience_info_form  form_action_url=create_experience_info_action_url form_class='experience_info_upload_form'%}
                  </div>
                </div>
              </div>

              <div class='skills' id='skills'>
                <div class="content_heading">
                  <h1> Skills </h1>
                  <a onclick="toggleAddItem('skills_items', 'skills_edit_icon')" id='skills_edit_icon'>
                    <i class='bx bxs-edit'>
                      <span class="tooltip">edit</span>
                    </i>
                  </a>
                </div>
                <div class="skills_items">
                  {% for skills in SkillsInfo %}
                    <div class="skills_details list_view">
                      <a onclick="toggleUpdateForm('skills_items', {{skills.id}})">
                        {{skills.skill}}
                      </a>
                      <div class="remove_item">
                        <a href = "{% url 'deleteSkillsInfoView' skills.id %}">
                          <i class='bx bx-x'></i>
                        </a>
                      </div>
                    </div>
                    <div class="update_view" id="instance-{{skills.id}}">
                      {% url 'updateSkillsInfoView' skills.id as update_skills_info_action_url %}
                      {% with skills_info_form|set_skill_instance:skills.id as updated_skills_instance_form %}
                        {% include 'profile/update_form.html' with form=updated_skills_instance_form form_action_url=update_skills_info_action_url form_class='skills_info_upload_form'%}
                      {% endwith %}
                    </div>
                  {% endfor %}
                  <div class="skills_details add_item">
                    <a onclick="toggleCreateView('skills_items')">
                      <i class='bx bx-plus-medical'>
                        <span class="tooltip">Add a new skill</span>
                      </i>
                    </a>
                  </div>
                </div>
                <div class="skills_items">
                  <div class="create_view">
                    {% include 'profile/update_form.html' with form=skills_info_form  form_action_url=create_skill_info_action_url form_class='skills_info_upload_form'%}
                  </div>
                </div>
              </div>

              <div class='projects' id='projects'>
                <div class="content_heading">
                  <h1> Projects </h1>
                  <a onclick="toggleAddItem('projects_items', 'projects_edit_icon')" id='projects_edit_icon'>
                    <i class='bx bxs-edit'>
                      <span class="tooltip">edit</span>
                    </i>
                  </a>
                </div>
                <div class="projects_items">
                  {% for projects in MajorProjectsInfo %}
                    <div class="projects_details list_view">
                      <a onclick="toggleUpdateForm('projects_items', {{projects.id}})">
                        <div class="projects_name">{{ projects.project_name }}</div>
                        <div class="projects_url">{{ projects.project_url }}</div>
                        <div class="projects_year">{{ projects.start_date }} - {{ projects.end_date }}</div>
                      </a>
                      <div class="remove_item">
                        <a href = "{% url 'deleteMajorProjectsInfoView' projects.id %}">
                          <i class='bx bx-x'></i>
                        </a>
                      </div>
                    </div>
                    <div class="update_view" id="instance-{{projects.id}}">
                      {% url 'updateMajorProjectsInfoView' projects.id as update_projects_info_action_url %}
                      {% with major_projects_info_form|set_project_instance:projects.id as updated_projects_instance_form %}
                        {% include 'profile/update_form.html' with form=updated_projects_instance_form form_action_url=update_projects_info_action_url form_class='projects_info_upload_form'%}
                      {% endwith %}
                    </div>
                  {% endfor %}
                  <div class="projects_details add_item">
                    <a onclick="toggleCreateView('projects_items')">
                      <i class='bx bx-plus-medical'>
                        <span class="tooltip">Add a new project</span>
                      </i>
                    </a>
                  </div>
                </div>
                <div class="projects_items">
                  <div class="create_view">
                    {% include 'profile/update_form.html' with form=major_projects_info_form  form_action_url=create_major_project_info_action_url form_class='projects_info_upload_form'%}
                  </div>
                </div>
              </div>

              <div class='certificates' id='certificates'>
                <div class="content_heading">
                  <h1> Certificates </h1>
                  <i class='bx bxs-edit'>
                    <span class="tooltip">edit</span>
                  </i>
                </div>
                <div class="certificates_items">
                  {% for certificates in CertificateInfo %}
                    <div class="certificates_details">
                      <div class="certificates_name">{{ certificates.course_name }}</div>
                      <div class="certificates_issuing_org">{{ certificates.issuing_organization }}</div>
                      <div class="certificates_year">{{ certificates.issue_date }} - {{ certificates.expiration_date }}</div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </section>
        </div>
    </body>
    <script src="{% static 'js/profile.js' %}"></script>
    <script src="{% static 'js/themetoggler.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
</html>
