:root {
    --mainbg: #1f2833;
    --clr-text: #fff;
    --clr-main-1: rgb(119, 211, 80);
    --clr-main-2: #45a29e;
    --clr-hex: #294950;
    --nav-bg-clr: #294950;
    --nav-clr: rgb(255, 255, 255);
    --nav-clr-hvr: var(--clr-main-1);
    --nav-clr-shadow: #294950;
    --invert: invert(0%);
}

.light-theme {
    --mainbg: #fbe8a6;
    --clr-text: #000;
    --clr-main-1: #574e24;
    --clr-main-2: #f4976c;
    --clr-hex: #e4c580;
    --nav-bg-clr: #e4c580;
    --nav-clr: rgb(0, 0, 0);
    --nav-clr-hvr: var(--clr-main-1);
    --nav-clr-shadow: #e4c580;
    --invert: invert(100%);
}

.dark-theme {
    --mainbg: #1f2833;
    --clr-text: #fff;
    --clr-main-1: rgb(119, 211, 80);
    --clr-main-2: #45a29e;
    --clr-hex: #294950;
    --nav-bg-clr: #294950;
    --nav-clr: rgb(255, 255, 255);
    --nav-clr-hvr: var(--clr-main-1);
    --nav-clr-shadow: #294950;
    --invert: invert(0%);
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: Lulo-Clean;
    src: url(fonts/Lulo-Clean-Bold.otf);
}

@font-face {
    font-family: Lulo-outline;
    src: url(fonts/Lulo-Clean-Outline-Bold.otf);
}

body {
    background: var(--mainbg);
    margin: 0;
    color: var(--clr-text);
    overflow-x: hidden;
    font-size: 62.5%;
}

section {
    background-image: radial-gradient(
        circle at top left,
        var(--clr-main-2),
        var(--mainbg) 45%
    );
    position: relative;
    text-align: center;
    margin: 0;
    padding: 1em;
    font-size: 1rem;
    padding-bottom: 2em;
}

section .main__content {
    padding-top: 6em;
    text-align: left;
    color: var(--clr-text);
    text-transform: uppercase;
}

section .main__content h1 {
    font-family: 'Lulo-Clean', sans-serif;
    font-size: 3.8rem;
    letter-spacing: -0.8rem;
    margin-bottom: 1em;
}

section .main__content__desc {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 2rem;
}

section .main__content span {
    color: var(--clr-main-1);
}

section .main__img {
    display: none;
}

section .social {
    margin: 0;
    margin-top: 4em;
}

section .social__presence {
    margin: 0;
    list-style: none;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0;
}

section .social__presence li + li {
    padding-left: 0.3em;
}

section .social__presence li img:hover,
section .social__presence li img:focus {
    border: 0.2rem solid var(--clr-main-2);
}

section .social__presence li img {
    width: 2rem;
    height: 2rem;
    border-radius: 30%;
    background-color: #fff;
}

.about {
    position: relative;
    padding: 2em;
    padding-top: 4em;
    text-align: center;
}

.about__content h1 {
    font-size: 2.5rem;
}

.about__content__desc {
    padding-top: 1.5em;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.3rem;
}

.about__contact {
    padding-top: 1.4em;
    text-align: left;
}

.about__contact h3 {
    font-size: 1.5rem;
}

.about__contact__desc ul {
    list-style: none;
    padding-left: 1.5em;
    font-size: 0.8rem;
}

.about__video_resume video {
    padding: 5em 0;
}

.about__video_resume video {
    width: 100%;
    padding: 5em 0;
}

.about__resume__btn {
    font-size: 1.3rem;
    background: var(--clr-main-2);
    color: var(--clr-text);
    border: 0;
    padding: 0.5em;
    border-radius: 0.5em;
    -webkit-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
    text-decoration: none;
}

.about__resume__btn:hover,
.about__resume__btn:focus {
    outline: none;
    color: var(--clr-text);
    background: var(--mainbg);
}

.about__resume__btn i {
    padding-right: 0.25em;
}

.journey,
.skills__certificate {
    padding-top: 5em;
}

.experience {
    background-image: radial-gradient(
        circle at top left,
        var(--nav-bg-clr),
        var(--mainbg) 25%
    );
    padding: 2em;
    padding-top: 4em;
}

.experience__left h1 {
    text-align: center;
    font-size: 2.5rem;
}

.experience__container {
    padding: 2em 0;
}

.experience__right .company a {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--nav-clr-hvr);
    padding-bottom: 1em;
    letter-spacing: 0.1rem;
    text-decoration: none;
}

.experience__right .duration,
.experience__right .designation {
    font-size: 1rem;
    font-weight: 400;
    color: var(--clr-main-2);
    font-style: italic;
}

.experience__right .desc {
    line-height: 1.3rem;
    font-size: 1rem;
    padding-top: 1em;
}

.education {
    padding: 4em 1.5em 2em;
}

.education h1 {
    text-align: center;
    margin-bottom: 2em;
    font-size: 2.5rem;
}

.education__container {
    margin: 2em auto;
    max-width: 100%;
    position: relative;
}

.education__container .timeline {
    width: 0.5em;
    height: 95%;
    position: absolute;
    background: var(--clr-text);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 0.5em;
}

.education__container .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.education__container .items:nth-child(even) {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.education__container .items:nth-child(even) .items__row::before {
    right: -0.4em;
}

.education__container .items:nth-child(odd) {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.education__container .items:nth-child(odd) .items__row::before {
    left: -0.4em;
}

.education__container .items__row {
    background-color: var(--clr-hex);
    border-radius: 0.5em;
    width: calc(50% - 30px);
    padding: 0.5em;
    position: relative;
    font-size: 1rem;
}

.education__container .items__row::before {
    position: absolute;
    content: '';
    height: 1.5em;
    width: 1.5em;
    background: var(--clr-hex);
    top: 1em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
}

.education__container .items__row img {
    font-size: 2rem;
    position: absolute;
    content: '';
    background-color: var(--mainbg);
    border-radius: 50%;
    width: 1.3em;
    height: 1.3em;
    text-align: center;
    padding-top: 0.1em;
}

.education__container .items__row .title {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--nav-clr-hvr);
}

.education__container .items__row .course {
    padding-top: 1em;
}

.education__container .items__row .duration {
    padding-top: 0.3em;
    color: var(--nav-clr-hvr);
}

.education__container .items__row .desc {
    display: none;
}

.education__container .items + .items {
    margin-top: 2em;
}

.education__container .items:nth-child(even) img {
    right: -1.6em;
}

.education__container .items:nth-child(odd) img {
    left: -1.6em;
}

.skills {
    background-image: radial-gradient(
        circle at top left,
        var(--nav-bg-clr),
        var(--mainbg) 30%
    );
    position: relative;
    padding: 2em;
    text-align: center;
}

.skills h1 {
    text-align: center;
    font-size: 2.5rem;
}

.skills__right {
    position: relative;
    padding-top: 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2em;
}

.skills__right div {
    width: 150px;
    height: 150px;
}

.skills__right .octagon {
    overflow: hidden;
}

.skills__right .inner {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: var(--clr-hex);
    border-radius: 40%;
    -webkit-box-shadow: 0 0 10px 5px inset var(--nav-bg-clr);
    box-shadow: 0 0 10px 5px inset var(--nav-bg-clr);
}

.skills__right .inner .content {
    font-family: 'Lulo-Clean', sans-serif;
    position: relative;
    width: 100%;
    text-transform: uppercase;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font-size: 1.25rem;
    top: 0.5em;
    left: 0.5em;
}

.skills__right .inner .content > i {
    font-size: 5rem;
}

.skills__right .inner #cover_img {
    position: relative;
    text-align: center;
    display: block;
    width: 4.3rem;
    left: 2.1em;
    filter: var(--invert);
    margin-bottom: 0.25em;
}

.skills__right .inner p {
    font-size: 0.4rem;
    margin: 0;
    padding: 0;
}

.skills__right .inner .stars {
    padding-top: 0.1em;
    font-size: 1rem;
    color: var(--clr-text);
}

.certificates {
    background-image: radial-gradient(
        circle at bottom right,
        var(--nav-bg-clr),
        var(--mainbg) 60%
    );
    padding: 2em;
    padding-top: 4em;
}

.certificates h1 {
    text-align: center;
    font-size: 2.5rem;
}

.certificates__left {
    text-align: center;
}

.certificates__right {
    padding-top: 2em;
}

.certificates__right .certificate__container + .certificate__container {
    padding-top: 5em;
}

.certificates__right .certificate__container__left .title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--nav-clr-hvr);
}

.certificates__right .certificate__container__left .desc {
    padding-top: 1em;
    letter-spacing: 0.5px;
    font-size: 1rem;
    color: var(--clr-main-2);
}

.certificates__right .certificate__container__left .verify {
    padding-top: 1em;
}

.certificates__right .certificate__container__left .verify sub {
    font-size: 1rem;
    border: 0.2em solid var(--clr-main-2);
    border-top: 0;
    border-bottom: 0;
    padding: 0 0.4em;
    margin: 0 0.4em;
}

.certificates__right .certificate__container__left .verify span,
.certificates__right .certificate__container__left .verify a {
    font-size: 1rem;
    color: var(--nav-clr-hvr);
    text-decoration: none;
}

.certificates__right .certificate__container__right {
    display: none;
}

.portfolio {
    background-image: radial-gradient(
        circle at bottom right,
        var(--nav-bg-clr),
        var(--mainbg) 60%
    );
    padding: 2em;
    padding-top: 4em;
    padding-bottom: 4em;
}

.portfolio h1 {
    text-align: center;
    padding-bottom: 1em;
    font-size: 2.5rem;
}

.portfolio__container__items + .portfolio__container__items {
    margin-top: 2em;
}

.portfolio__container__items {
    margin: 0 auto;
    text-align: center;
    width: 300px;
    height: 300px;
    padding: 1em;
    background-color: var(--clr-hex);
    border-radius: 10%;
}

.portfolio__container__items img {
    width: 90%;
    border-radius: 1em;
    -webkit-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
}

.portfolio__container__items img:hover {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
}

.copyright {
    background: var(--nav-bg-clr);
    text-align: center;
    line-height: 2em;
    letter-spacing: 1px;
}

@media screen and (min-width: 480px) {
    section .main__content h1 {
        font-size: 5rem;
    }
    section .social__presence li + li {
        padding-left: 0.4em;
    }

    .about__contact__desc ul {
        font-size: 1rem;
    }
    .about__video_resume video {
        width: 80%;
    }
    .certificates__right .certificate__container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 1em;
    }
    .certificates__right .certificate__container__right {
        display: block;
    }
    .certificates__right .certificate__container__right .badge {
        width: 100%;
    }
    .certificates__right .certificate__container__right .badge img {
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    section {
        margin: 0;
        padding-bottom: 4em;
    }
    section .main__content {
        padding-top: 4em;
    }
    section .main__content h1 {
        font-size: 5.6rem;
        text-align: center;
    }
    section .main__content__desc {
        text-align: center;
    }
    section .social__presence li img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 30%;
    }
    section .social__presence li + li {
        padding-left: 0.5em;
    }
    .about {
        padding-top: 3em;
    }
    .about__extra {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 5em;
    }
    .about__left {
        padding: 0;
        margin: 0;
    }
    .about__right {
        padding: 0;
        margin: 0;
    }
    .about__content__desc {
        padding-top: 1.5em;
        text-align: justify;
        font-size: 1.3rem;
        line-height: 1.3rem;
    }
    .about__video_resume video {
        padding: 0;
    }
    .about__resume {
        padding-top: 4em;
    }
    .education__container .items .desc {
        padding-top: 2em;
        display: block;
    }
    .portfolio__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 1em;
    }
    .portfolio__container__items + .portfolio__container__items {
        margin-top: 0;
    }
}

@media screen and (min-width: 750px) {
    section {
        padding: 1em;
        padding-top: 7em;
        padding-bottom: 3em;
    }
    section .main {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 7fr 1fr 4fr;
        grid-template-columns: 7fr 1fr 4fr;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 1em;
    }
    section .main__content {
        padding: 0;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        text-align: left;
    }
    section .main__content h1 {
        text-align: left;
    }
    section .main__content__desc {
        text-align: left;
        padding: 0;
        margin-top: 1em;
    }
    section .main__img {
        position: relative;
        display: inline-block;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-column: 3/4;
        padding: 0;
        margin: 0 auto;
    }
    section .main__img img {
        display: block;
        width: 13em;
        height: 13em;
        border-radius: 50%;
    }
    section .social {
        margin: 1em 0 0;
    }
    section .social__presence li + li {
        padding-left: 0.8em;
    }
    .about {
        padding: 4rem;
    }
    .experience {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 2fr 0.4fr 7.6fr;
        grid-template-columns: 2fr 0.4fr 7.6fr;
    }
    .experience__left {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
    }
    .experience__left h1 {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        -webkit-box-shadow: 0 0.2em 0 -0.1em var(--clr-main-1);
        box-shadow: 0 0.2em 0 -0.1em var(--clr-main-1);
        margin: 0 auto;
        padding: 0.1em;
    }
    .experience__right {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-column: 3/4;
    }
    .experience__container {
        padding: 0;
    }
    .experience__container + .experience__container {
        padding-top: 4em;
    }
    .experience__container .company a {
        font-size: 2rem;
    }
    .education__container {
        padding: 0 6em;
    }
    .education__container .items__row {
        padding: 2em;
    }
    .education__container .items__row::before {
        top: 2.8em;
    }

    .skills {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 0.5fr 5fr;
        grid-template-columns: 1fr 0.5fr 5fr;
    }
    .skills__left {
        padding-top: 3em;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
    }
    .skills__left h1 {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        -webkit-box-shadow: 0 0.2em 0 -0.1em var(--clr-main-1);
        box-shadow: 0 0.2em 0 -0.1em var(--clr-main-1);
        margin: 0 auto;
        padding: 0.1em;
    }
    .skills__right {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-column: 3/4;
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
    }
    .portfolio__container {
        gap: 1em;
    }
    .copyright {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .copyright__left {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
    }
    .copyright__right {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
    }
}

@media screen and (min-width: 986px) {
    section {
        padding: 4em 6em 6em 6em;
    }
    section .main {
        padding: 2em;
        -ms-grid-columns: 6fr 1fr 4fr;
        grid-template-columns: 6fr 1fr 4fr;
    }
    section .main__content h1 {
        letter-spacing: -0.5rem;
    }
    section .main__content__desc {
        padding-top: 1.3em;
        padding-right: 2em;
        line-height: 2rem;
        letter-spacing: 0.2rem;
    }
    section .main__img img {
        width: 15em;
        height: 15em;
    }
    section .social__presence li img {
        width: 3rem;
        height: 3rem;
        border-radius: 30%;
    }
    section .social__presence li + li {
        padding-left: 1em;
    }
    .about {
        padding: 5em 16em;
    }
    .experience {
        -ms-grid-columns: 2fr 1fr 3.7fr 0.8fr;
        grid-template-columns: 2fr 1fr 3.7fr 0.8fr;
        padding-bottom: 4em;
    }
    .education__container {
        padding: 0 12em;
    }
    .skills {
        -ms-grid-columns: 2fr 1fr 7fr;
        grid-template-columns: 2fr 1fr 7fr;
    }
    .skills__left h1 {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .certificates {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 2fr 0.4fr 7.6fr;
        grid-template-columns: 2fr 0.4fr 7.6fr;
    }
    .certificates__left {
        padding-top: 3em;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
    }
    .certificates__left h1 {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        -webkit-box-shadow: 0 0.2em 0 -0.1em var(--clr-main-1);
        box-shadow: 0 0.2em 0 -0.1em var(--clr-main-1);
        margin: 0 auto;
        padding: 0.1em;
    }
    .certificates__right {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        grid-column: 3/4;
    }
    .portfolio__container {
        gap: 0.3em;
    }
    .portfolio__container__items {
        width: 350px;
        height: 350px;
    }
}

@media screen and (min-width: 1200px) {
    .education__container {
        padding: 0 20em;
    }

    .education__container .items:nth-child(even) .items__row {
        font-size: 1.5rem;
        left: -2em;
    }

    .education__container .items:nth-child(odd) .items__row {
        font-size: 1.5rem;
        left: 2em;
    }

    .education__container .items__row .title {
        font-size: 2rem;
    }

    .education__container .items__row::before {
        top: 2.1em;
    }

    .education__container .items:nth-child(even) img {
        right: -3.1em;
    }

    .education__container .items:nth-child(odd) img {
        left: -3.1em;
    }

    .education__container .items:nth-child(even) .items__row::before {
        right: -0.7em;
    }

    .education__container .items:nth-child(odd) .items__row::before {
        left: -0.7em;
    }
    .skills {
        -ms-grid-columns: 2fr 1fr 4.5fr;
        grid-template-columns: 2fr 1fr 4.5fr;
    }
    .certificates {
        -ms-grid-columns: 2fr 1fr 4.5fr;
        grid-template-columns: 2fr 1fr 4.5fr;
    }
}
