:root {
    --mainbg: #1f2833;
    --clr-text: #fff;
    --clr-main-1: rgb(119, 211, 80);
    --clr-main-2: #45a29e;
    --clr-main-3: #6c63ac;
    --clr-hex: #294950;
    --nav-bg-clr: #294950;
    --nav-clr: rgb(255, 255, 255);
    --nav-clr-hvr: var(--clr-main-1);
    --nav-clr-shadow: #294950;
    --invert: invert(0%);
}

.light-theme {
    --mainbg: #fbe8a6;
    --clr-text: #000;
    --clr-main-1: #574e24;
    --clr-main-2: #f4976c;
    --clr-main-3: #e8c779;
    --clr-hex: #e4c580;
    --nav-bg-clr: #e4c580;
    --nav-clr: rgb(0, 0, 0);
    --nav-clr-hvr: var(--clr-main-1);
    --nav-clr-shadow: #e4c580;
    --invert: invert(100%);
}

.dark-theme {
    --mainbg: #1f2833;
    --clr-text: #fff;
    --clr-main-1: rgb(119, 211, 80);
    --clr-main-2: #45a29e;
    --clr-main-3: #6c63ac;
    --clr-hex: #294950;
    --nav-bg-clr: #294950;
    --nav-clr: rgb(255, 255, 255);
    --nav-clr-hvr: var(--clr-main-1);
    --nav-clr-shadow: #294950;
    --invert: invert(0%);
}

@font-face {
    font-family: Lulo-Clean;
    src: url(fonts/Lulo-Clean-Bold.otf);
}

@font-face {
    font-family: Lulo-outline;
    src: url(fonts/Lulo-Clean-Outline-Bold.otf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--mainbg);
    margin: 0;
    color: var(--clr-text);
    overflow-x: hidden;
    font-size: 62.5%;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: var(--clr-hex);
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
    display: none;
}
.sidebar.open {
    width: 250px;
}
.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}
.sidebar .logo-details img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    top: 10px;
}
.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
    color: var(--clr-text);
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}
.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
    text-align: right;
}
.sidebar i {
    color: var(--clr-text);
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}
.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}
.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}
.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: var(--mainbg);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}
.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}
.sidebar.open li .tooltip {
    display: none;
}
.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}
.sidebar li a:hover {
    background: var(--mainbg);
}
.sidebar li a .links_name {
    color: var(--clr-text);
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}
.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: var(--clr-main-2);
}
.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}
.sidebar li.theme {
    top: 5em;
    border-top: 2px solid var(--mainbg);
}
.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: radial-gradient(
        circle at top left,
        var(--clr-hex),
        var(--mainbg) 100%
    );
    transition: all 0.5s ease;
    overflow: hidden;
}
.sidebar.open li.profile {
    width: 250px;
}
.sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: var(--clr-text);
    white-space: nowrap;
}
.sidebar li.profile .job {
    font-size: 12px;
}
.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: radial-gradient(
        circle at top left,
        var(--clr-hex),
        var(--mainbg) 100%
    );
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}
.sidebar.open .profile #log_out {
    width: 50px;
    background: none;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: var(--nav-bg-clr);
    height: 60px;
    font-size: 1rem;
}
.navbar .icon {
    position: absolute;
    left: 10px;
    height: 50px;
}
.navbar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.navbar .logo_name {
    font-size: 1.5rem;
}
.navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 10px;
    list-style: none;
}
.navbar li {
    margin: 0;
    padding: 0;
}
.navbar li a {
    color: var(--clr-text);
    font-size: 1.3rem;
}
.navbar li + li {
    margin-left: 1em;
}

.navbar li .tooltip {
    position: absolute;
    top: 60px;
    z-index: 3;
    background: var(--mainbg);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.navbar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 60px;
    right: 5px;
    transform: translateY(-50%);
}
.home-section {
    position: relative;
    min-height: calc(100vh - 60px);
    top: 0;
    transition: all 0.5s ease;
    z-index: 2;
    padding: 0 2em;
}
.sidebar.open ~ .home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.content_heading {
    display: grid;
    grid-template-columns: 11fr 1fr;
}
.content_heading a {
    z-index: 1;
    text-align: center;
}
.content_heading i {
    font-size: 1.2rem;
    color: var(--clr-main-2);
    position: relative;
}
.update_view,
.add_item,
.remove_item,
.create_view {
    display: none;
}
.add_item {
    background-color: var(--clr-main-2) !important;
}
.remove_item {
    font-weight: 900;
}
.remove_item a {
    color: var(--clr-text);
}
.update_view form,
.create_view form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em 10%;
}
.update_view form p,
.create_view form p {
    line-height: 2em;
    width: 100%;
}
.update_view select,
.update_view textarea,
.update_view input,
.update_view button,
.create_view select,
.create_view textarea,
.create_view input,
.create_view button {
    border: 4px solid var(--clr-main-3) !important;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 5px;
}
.update_view input[type='submit'],
.update_view button[value='Close'],
.create_view input[type='submit'],
.create_view button[value='Close'] {
    margin-top: 1em;
    width: 45% !important;
    color: var(--clr-text);
    padding: 10px;
}
.update_view input[type='submit'],
.create_view input[type='submit'] {
    background: var(--clr-main-2) !important;
}
.update_view button[value='Close'],
.create_view button[value='Close'] {
    background: var(--clr-main-3) !important;
}
.update_view form p:has(label[for='id_image']),
.create_view form p:has(label[for='id_image']) {
    font-size: 0;
}
.update_view form p input[id='id_image'],
.create_view form p input[id='id_image'] {
    margin-top: 2em;
}
.update_view form p input[type='file'],
.create_view form p input[type='file'] {
    width: 100%;
    color: var(--clr-main-3);
}

.update_view form p input[id='resume-clear_id'],
.update_view form p input[id='video_resume-clear_id'],
.update_view form p input[id='university_logo-clear_id'],
.update_view form p input[id='company_logo-clear_id'],
.create_view form p input[id='resume-clear_id'],
.create_view form p input[id='video_resume-clear_id'],
.create_view form p input[id='university_logo-clear_id'],
.create_view form p input[id='company_logo-clear_id'],
.update_view form p label[for='resume-clear_id'],
.update_view form p label[for='video_resume-clear_id'],
.update_view form p label[for='university_logo-clear_id'],
.update_view form p label[for='company_logo-clear_id'],
.create_view form p label[for='resume-clear_id'],
.create_view form p label[for='video_resume-clear_id'],
.create_view form p label[for='university_logo-clear_id'],
.create_view form p label[for='company_logo-clear_id'] {
    display: none;
}

.update_view form p label[for='id_video_resume'] + a,
.update_view form p label[for='id_resume'] + a,
.update_view form p label[for='id_platformIcon'] + a,
.update_view form p label[for='id_university_logo'] + a,
.update_view form p label[for='id_company_logo'] + a,
.create_view form p label[for='id_video_resume'] + a,
.create_view form p label[for='id_resume'] + a,
.create_view form p label[for='id_platformIcon'] + a,
.create_view form p label[for='id_university_logo'] + a,
.create_view form p label[for='id_company_logo'] + a {
    background: var(--clr-main-2);
    padding: 0.5em;
    font-size: 0.8rem;
}

i.bxs-badge-check > .tooltip {
    display: none;
}
i.bxs-edit > .tooltip {
    position: absolute;
    top: 2.5em;
    right: -1em;
    z-index: 3;
    background: var(--mainbg);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

i.bxs-edit:hover > .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    transform: translateY(-50%);
}

.profile {
    padding: 2em 0;
    font-size: 1rem;
    color: var(--clr-text);
}
.profile h1 {
    text-align: center;
    font-weight: normal;
    right: -5%;
    position: relative;
}
.profile .profile_image {
    text-align: center;
    padding: 2em 0;
}
.profile .profile_image i {
    position: relative;
    left: 115px;
    top: -90px;
    color: var(--clr-main-2);
}
.profile .profile_image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--clr-hex);
    box-shadow: 0 1px 10px rgba(230, 217, 217, 0.5);
}

.profile .user-profile-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em 10%;
}
.profile .user-profile-form p {
    margin-bottom: 0.5em;
    width: 100%;
}
.profile .user-profile-form label {
    font-family: 'Times New Roman', Times, serif;
    line-height: 2em;
    display: block;
}

.profile .user-profile-form select,
.profile .user-profile-form textarea,
.profile .user-profile-form input,
.profile .user-profile-form button {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    padding: 10px;
    border: 2px solid var(--clr-hex);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fffffffc;
}
.profile .user-profile-form textarea {
    height: 100px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 700px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#updatePageContent {
    height: 100%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.resume {
    padding: 2em 0;
    font-size: 1rem;
    color: var(--clr-text);
}
.resume h1 {
    text-align: center;
    font-weight: normal;
    padding-bottom: 1em;
    right: -5%;
    position: relative;
}
.resume .resume_upload_form {
    padding: 1em 10%;
}
.resume .resume_upload_form p {
    margin-bottom: 0.5em;
}
.resume .resume_upload_form label {
    font-family: 'Times New Roman', Times, serif;
    line-height: 2em;
    display: block;
}
.resume .resume_upload_form select,
.resume .resume_upload_form textarea,
.resume .resume_upload_form input {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    padding: 10px;
    border: 2px solid var(--clr-hex);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fffffffc;
}
.resume .resume_upload_form textarea {
    height: 200px;
}
.resume_details .video_resume video,
.resume_details .pdf_resume iframe {
    width: 100%;
    padding: 0;
}

.social_platforms {
    padding: 2em 0;
    font-size: 1rem;
    color: var(--clr-text);
}
.social_platforms h1 {
    text-align: center;
    font-weight: normal;
    padding-bottom: 1em;
    right: -5%;
    position: relative;
}
.social_platforms .social_items {
    padding: 1em 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}
.social_platforms .social_items .social_details.list_view {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--clr-main-3);
    color: var(--clr-text);
    font-size: 0.8rem;
    text-align: center;
    width: calc(100% - 54%);
}
.social_platforms .social_platform_upload_form {
    padding: 1em 10%;
}
.social_platforms .social_platform_upload_form p {
    margin-bottom: 0.5em;
}
.social_platforms .social_platform_upload_form label {
    font-family: 'Times New Roman', Times, serif;
    line-height: 2em;
    display: block;
}
.social_platforms .social_platform_upload_form select,
.social_platforms .social_platform_upload_form textarea,
.social_platforms .social_platform_upload_form input {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    padding: 10px;
    border: 2px solid var(--clr-hex);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fffffffc;
}
.social_platforms .social_platform_upload_form label[for='id_featured'],
.social_platforms .social_platform_upload_form label[for='id_platformIcon'],
.social_platforms .social_platform_upload_form input[id='id_featured'] {
    display: inline;
    width: 10%;
}

.education {
    padding: 2em 0;
    font-size: 1rem;
    color: var(--clr-text);
}
.education h1 {
    text-align: center;
    font-weight: normal;
    padding-bottom: 1em;
    right: -5%;
    position: relative;
}
.education .education_items {
    padding: 1em 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}
.education .education_items .education_details {
    padding: 1em;
    background-color: var(--clr-main-3);
    color: var(--clr-text);
    font-size: 0.8rem;
    width: calc(100%);
    line-height: 2em;
}
.education .education_items .education_details .education_degree {
    font-size: 1.1rem;
    font-weight: bold;
}
.education .education_items .education_details .education_university {
    font-style: italic;
}
.education .education_items .education_details.list_view {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.education .education_info_upload_form {
    padding: 1em 10%;
}
.education .education_info_upload_form p {
    margin-bottom: 0.5em;
}
.education .education_info_upload_form label {
    font-family: 'Times New Roman', Times, serif;
    line-height: 2em;
    display: block;
}
.education .education_info_upload_form select,
.education .education_info_upload_form textarea,
.education .education_info_upload_form input {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    padding: 10px;
    border: 2px solid var(--clr-hex);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fffffffc;
}
.education .education_info_upload_form label[for='id_featured'],
.education .education_info_upload_form label[for='id_university_logo'],
.education .education_info_upload_form input[id='id_featured'] {
    display: inline;
    width: 10%;
}

.experience {
    padding: 2em 0;
    font-size: 1rem;
    color: var(--clr-text);
}
.experience h1 {
    text-align: center;
    font-weight: normal;
    padding-bottom: 1em;
    right: -5%;
    position: relative;
}
.experience .experience_items {
    padding: 1em 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}
.experience .experience_items .experience_details {
    padding: 1em;
    background-color: var(--clr-main-3);
    color: var(--clr-text);
    font-size: 0.8rem;
    width: calc(100%);
    line-height: 2em;
}
.experience .experience_items .experience_details .experience_company {
    font-size: 1.1rem;
    font-weight: bold;
}
.experience .experience_items .experience_details .experience_designation {
    font-style: italic;
}
.experience .experience_items .experience_details.list_view {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.experience .experience_info_upload_form {
    padding: 1em 10%;
}
.experience .experience_info_upload_form p {
    margin-bottom: 0.5em;
}
.experience .experience_info_upload_form label {
    font-family: 'Times New Roman', Times, serif;
    line-height: 2em;
    display: block;
}
.experience .experience_info_upload_form select,
.experience .experience_info_upload_form textarea,
.experience .experience_info_upload_form input {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    padding: 10px;
    border: 2px solid var(--clr-hex);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fffffffc;
}
.experience .experience_info_upload_form label[for='id_featured'],
.experience .experience_info_upload_form label[for='id_company_logo'],
.experience .experience_info_upload_form input[id='id_featured'],
.experience .experience_info_upload_form label[for='id_currently_working'],
.experience .experience_info_upload_form input[id='id_currently_working'] {
    display: inline;
    width: 10%;
}

.skills {
    padding: 2em 0;
    font-size: 1rem;
    color: var(--clr-text);
}
.skills h1 {
    text-align: center;
    font-weight: normal;
    padding-bottom: 1em;
    right: -5%;
    position: relative;
}
.skills .skills_items {
    padding: 1em 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}
.skills .skills_items .skills_details {
    padding: 1em;
    background-color: var(--clr-main-3);
    color: var(--clr-text);
    font-size: 0.8rem;
    text-align: center;
    width: calc(100% - 54%);
}

.projects {
    padding: 2em 0;
    font-size: 1rem;
    color: var(--clr-text);
}
.projects h1 {
    text-align: center;
    font-weight: normal;
    padding-bottom: 1em;
    right: -5%;
    position: relative;
}
.projects .projects_items {
    padding: 1em 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}
.projects .projects_items .projects_details {
    padding: 1em;
    background-color: var(--clr-main-3);
    color: var(--clr-text);
    font-size: 0.8rem;
    width: calc(100%);
    line-height: 2em;
}
.projects .projects_items .projects_details .projects_name {
    font-size: 1.1rem;
    font-weight: bold;
}
.projects .projects_items .projects_details .projects_url {
    font-style: italic;
}

.certificates {
    padding: 2em 0;
    font-size: 1rem;
    color: var(--clr-text);
}
.certificates h1 {
    text-align: center;
    font-weight: normal;
    padding-bottom: 1em;
    right: -5%;
    position: relative;
}
.certificates .certificates_items {
    padding: 1em 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}
.certificates .certificates_items .certificates_details {
    padding: 1em;
    background-color: var(--clr-main-3);
    color: var(--clr-text);
    font-size: 0.8rem;
    width: calc(100%);
    line-height: 2em;
}
.certificates .certificates_items .certificates_details .certificates_name {
    font-size: 1.1rem;
    font-weight: bold;
}
.certificates
    .certificates_items
    .certificates_details
    .certificates_issuing_org {
    font-style: italic;
}
@media screen and (min-width: 480px) {
    .sidebar {
        display: block;
    }
    .navbar {
        display: none;
    }

    .home-section {
        height: 100vh;
        left: 78px;
        width: calc(100% - 78px);
    }
    .social_platforms .social_items {
        padding: 1em 10%;
    }
    .social_platforms .social_items .social_details.list_view {
        font-size: 1rem;
        width: calc(100% - 53%);
    }

    .skills .skills_items {
        padding: 1em 10%;
    }
    .skills .skills_items .skills_details {
        font-size: 1rem;
        width: calc(100% - 53%);
    }
}
@media screen and (min-width: 600px) {
    .home-section.sidebarOpen {
        width: calc(100% - 250px);
        left: 250px;
    }

    .profile .user-profile-form p:has(#id_date_of_birth, #id_gender) {
        width: 48%;
    }

    .resume_details .pdf_resume iframe {
        height: 200px;
    }
    .education .education_items .education_details {
        padding: 2em;
    }
    .experience .experience_items .experience_details {
        padding: 2em;
    }
    .projects .projects_items .projects_details {
        padding: 2em;
    }
    .certificates .certificates_items .certificates_details {
        padding: 2em;
    }
}
@media screen and (min-width: 750px) {
    .profile .user-profile-form {
        padding: 1em 15%;
    }
    .profile .user-profile-form select,
    .profile .user-profile-form textarea,
    .profile .user-profile-form input {
        padding: 15px;
    }
    .profile
        .user-profile-form
        p:has(#id_first_name, #id_last_name, #id_date_of_birth, #id_gender) {
        width: 45%;
    }

    .resume_details .pdf_resume iframe {
        height: 300px;
    }
    .resume_details .resume_upload_form {
        padding: 1em 15%;
    }

    .social_platforms .social_items {
        padding: 1em 15%;
    }
    .social_platforms .social_items .social_details.list_view {
        width: calc(100% - 70%);
    }
    .social_platforms .social_platform_upload_form {
        padding: 1em 15%;
    }

    .education .education_items {
        padding: 1em 15%;
    }
    .education .education_items .education_details {
        font-size: 1rem;
    }

    .experience .experience_items {
        padding: 1em 15%;
    }
    .experience .experience_items .experience_details {
        font-size: 1rem;
    }

    .skills .skills_items {
        padding: 1em 15%;
    }
    .skills .skills_items .skills_details {
        width: calc(100% - 70%);
    }

    .projects .projects_items {
        padding: 1em 15%;
    }
    .projects .projects_items .projects_details {
        font-size: 1rem;
    }

    .certificates .certificates_items {
        padding: 1em 15%;
    }
    .certificates .certificates_items .certificates_details {
        font-size: 1rem;
    }
}
@media screen and (min-width: 986px) {
    .profile .user-profile-form {
        line-height: 4em;
    }
    .profile .user-profile-form p:has(#id_email, #id_phone_number) {
        width: 45%;
    }
    .resume_details .resume_upload_form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 4%;
        line-height: 4em;
    }
    .resume_details .resume_upload_form p {
        width: 100%;
    }
    .resume_details .resume_upload_form p.video_resume,
    .resume_details .resume_upload_form p.pdf_resume {
        width: calc(50% - 2%);
    }
    .resume_details .video_resume video,
    .resume_details .pdf_resume iframe {
        width: 100%;
        height: 100%;
    }
}
@media screen and (min-width: 1200px) {
    .social_platforms .social_items .social_details.list_view {
        width: calc(100% - 77%);
    }

    .education .education_items .education_details {
        width: calc(100% - 52%);
        line-height: 1.6em;
        padding: 1em;
    }

    .experience .experience_items .experience_details {
        width: calc(100% - 52%);
        line-height: 1.6em;
        padding: 1em;
    }

    .skills .skills_items .skills_details {
        width: calc(100% - 77%);
    }

    .projects .projects_items .projects_details {
        width: calc(100% - 52%);
        line-height: 1.6em;
        padding: 1em;
    }

    .certificates .certificates_items .certificates_details {
        width: calc(100% - 52%);
        line-height: 1.6em;
        padding: 1em;
    }
}
